#!/usr/bin/env ansible-playbook
---
#- name: create ec2 infrastructure
#  hosts: localhost
#  gather_facts: no
#  vars_files:
#    - ./vars/main.yml
#  roles:
#    - hdp-instances

- name: bootstrap hosts for the hadoop installation
  hosts: hdp
  gather_facts: yes
  become: yes
  vars_files:
    - ./vars/main.yml
  roles:
    - hadoop-bootstrap

- name: install ambari agents
  hosts: hdp
  gather_facts: yes
  become: yes
  vars_files:
    - ./vars/main.yml
  roles:
    - hdp-ambari-agents

- name: install ambari server and hdp
  hosts: utility
  gather_facts: yes
  become: yes
  vars_files:
    - ./vars/main.yml
  roles:
    - hdp-mysql-server
    - hdp-ambari-server

